{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Matériel</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('fourniture-head-buttons') }}" method="post">
                        <input type="submit" name="submit" value="Tout voir">
                        <input type="submit" name="submit" value="Informatique">
                        <input type="submit" name="submit" value="Non informatique">
                        <input type="submit" name="submit" value="Ajouter">
                    </form>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Marque</th>
                                <th>Modele</th>
                                <th>Code</th>
                                <th>Responsable</th>
                                <th>Description</th>
                                <th>Salle n°</th>
                                <th>Détails</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fourniture in fournitureList %}
                                <tr>

                                    <td>
                                        {{ fourniture.marque }}
                                    </td>
                                    <td>
                                        {{ fourniture.modele }}
                                    </td>
                                    <td>
                                        <div id="barcode">
                                            {{ fourniture.code }}
                                        </div>
                                        {{ fourniture.code }}
                                    </td>
                                    <td>
                                        <form action="{{ path_for('utilisateur-details') }}" method="post">
                                            <input type="hidden" name="id" value="{{ fourniture.Utilisateur.id }}">
                                            <input type="submit" value="{{ fourniture.Utilisateur.nom ~ ' ' ~ fourniture.Utilisateur.prenom}}">
                                        </form>
                                    </td>
                                    <td>
                                       <strong>{{ fourniture.Description.Type.nom }}</strong><br>{{ fourniture.Description.nom }}
                                    </td>
                                    <td>
                                        <form action="{{ path_for('salle-details') }}" method="post">
                                            <input type="hidden" name="id" value="{{ fourniture.Salle.id }}">
                                            <input type="submit" value="{{ fourniture.Salle.numero }}">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ path_for('fourniture-details') }}" method="post">
                                            <input type="hidden" name="id" value="{{ fourniture.id }}">
                                            <input type="submit" value="détails">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}