{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Mon tableau de bord</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table>
                            <tr><h1>{{ data[0] }} utilisateur(s) n'ont rien sous leur responsabilité</h1></tr>
                            <tr><h1>{{ data[1] }} fourniture(s) ne sont pas gérée(s)</h1></tr>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}