{% extends "base_layout.twig" %}
{% block menu %}
    <li class="dropdown">
        <div class="user-info">

            <div class="user-text-online">
                <span class="user-circle-online btn btn-danger btn-circle "></span>&nbsp;Offline
            </div>
        </div>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">{% if msg == null  %} Veuillez vous connecter {% else %}{{ msg }}{% endif %}</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="rowTable">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">
                    <form action="{{ path_for('loging_in') }}" method="post">
                        <div class="form-group">
                            <label for="login">Email ou pseudo: </label>
                            <input class="form-control" type="text" name="pseudo" id="login" value="{{ pseudo }}">
                            <label for="passwd">Mot de passe: </label>
                            <input class="form-control" type="password" name="motdepasse" id="passwd">
                            <input type="submit" name="submit" value="Connecter">
                            <input type="submit" name="submit" value="Nouveau">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


{% endblock %}