{%  extends "layout.twig" %}
{%  block content %}
<div class="row">
    <!--  page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Mon profil {{ pdoname }}</h1>
    </div>
    <!-- end  page header -->
</div>
{%  endblock %}