{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Salles</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('salle-head-buttons') }}" method="post">
                        <input class="form-control" type="submit" name="submit" value="Ajouter">
                    </form>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type de salle</th>
                                <th>Aile</th>
                                <th>Etage</th>
                                <th>Numero</th>
                                <th>Détails</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for salle in salleList %}
                                <tr>
                                    <td>
                                        {{ salle.nom }}
                                    </td>
                                    <td>
                                        {{ salle.TypeSalle.nom }}
                                    </td>

                                    <td>
                                        {{ salle.aile }}
                                    </td>
                                    <td>
                                        {{ salle.etage }}
                                    </td>
                                    <td>
                                        {{ salle.numero }}
                                    </td>
                                    <td>
                                        <form action="{{ path_for('salle-details') }}" method="post">
                                            <input type="hidden" name="id" value="{{ salle.id }}">
                                            <input type="submit" value="Détails">
                                        </form>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}