{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Contacts</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="rowTable">

                <!--   Kitchen Sink -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>{{ name }}</h1>
                </div>
                <div class="panel-body">
                    <div id="form" >
                        <form action="{{ path_for('updateNew') }}" method="post">
                            <div class="form-group">
                                <label for="nom">nom</label>
                                <input class="form-control" type="text" name="nom" id="nom" value="{{ contact.nom }}">
                                <br>
                                <label for="prenom">prenom</label>
                                <input class="form-control" type="text" name="prenom" id="prenom" value="{{ contact.prenom }}">
                                <br>
                                <label for="email">email</label>
                                <input class="form-control" type="text" name="email" id="email" value="{{ contact.email }}">
                                <br>
                                <label for="telephone">telephone</label>
                                <input class="form-control" type="text" name="telephone" id="telephone" value="{{ contact.telephone }}">
                                <br>
                                <label for="adresse">adresse</label>
                                <input class="form-control" type="text" name="adresse" id="adresse" value="{{ contact.adresse }}">
                                <input type="hidden" name="idcontact"  value="{{ contact.idcontact }}">
                                <br>
                                <div id="buttonform">
                                    <input class="form-control" type="submit" name="submit" value="Annuler">
                                    <input class="form-control" type="submit" name="submit" value="Nouveau">
                                    <input class="form-control" type="submit" name="submit" value="Enregistrer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




{% endblock %}