{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Utilisateur</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Roles</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personne in personnelList %}
                                <tr>
                                    <td>
                                        {{ personne.nom }}
                                    </td>
                                    <td>
                                        {{ personne.prenom }}
                                    </td>
                                    <td>
                                        {{ personne.roles }}
                                    </td>
                                    <td>
                                        {{ personne.email }}
                                    </td>
                                    <td>
                                        {{ personne.Adresse.rue ~ " " ~ personne.Adresse.numero  ~ " " ~ personne.Adresse.ville ~ " " ~ personne.Adresse.code }}
                                    </td>

                                    <td>
                                        <form action="{{ path_for('utilisateur-details') }}" method="post">
                                            <input type="hidden" name="id" value="{{ personne.id }}">
                                            <input type="submit" value="Détails">
                                        </form>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}