{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Détails</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('utilisateur-head-buttons') }}" method="post">
                        <input type="hidden" name="id" value="{{ utilisateur.id }}">

                        <input type="submit" class="form-control" name="submit" value="<< Retour">
                        {% if new == false %}
                        <input type="submit" class="form-control" name="submit" value="Desactiver" style="border-color: red;">
                        {% endif %}
                    </form>
                </div>
                <table>
                    <td>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                    <form action="{{ path_for('utilisateur-modifier') }}" id="form" method="post">
                                        <div class="form-group">

                                        <input type="hidden" name="id" value="{{ utilisateur.id }}">
                                        <tr>
                                            <td><label for="nom">nom</label></td>

                                            <td><input class="form-control" type="text" name="nom" value="{{ utilisateur.nom }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom" >prenom</label></td>
                                            <td><input class="form-control" type="text" name="prenom" value="{{ utilisateur.prenom }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">email</label></td>
                                            <td><input class="form-control" type="email" name="email" value="{{ utilisateur.email }}"></td>
                                        </tr>
                                        <input type="hidden" name="Adresse.id" value="{{ utilisateur.Adresse.id }}">
                                        <tr>
                                            <td><label for="nom">rue</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.rue" value="{{ utilisateur.Adresse.rue }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">numero</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.numero" value="{{ utilisateur.Adresse.numero }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">ville</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.ville" value="{{ utilisateur.Adresse.ville }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">code postal</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.code" value="{{ utilisateur.Adresse.code }}"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" type="submit" value="Enregistrer"></td>
                                        </tr>
                                        </div>
                                    </form>
                                </table>
                            </div>

                        </div>
                    </td>
                    <td>
    {% if new == false %}
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Marque</th>
                                <th>Modele</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Salle n°</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fourniture in utilisateur.Fourniture %}
                                <tr>
                                    <td>
                                        {{ fourniture.marque }}
                                    </td>
                                    <td>
                                        {{ fourniture.modele }}
                                    </td>
                                    <td>
                                        <div id="barcode">
                                            {{ fourniture.code }}
                                        </div>
                                        {{ fourniture.code }}
                                    </td>
                                    <td>
                                        <strong>{{ fourniture.Description.type }}</strong><br>{{ fourniture.Description.nom }}
                                    </td>
                                    <td>
                                        {{ fourniture.Salle.numero }}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
        {% endif %}
                    </td>
                </table>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}