{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">{% if typeSalle %} Type de salle
                {% else %} Type de matériel
                {% endif %}</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('home') }}" method="post">
                        <input type="hidden" name="id" value="{{ salle.id }}">

                        <input type="submit" class="form-control" name="submit" value="<< Retour">

                    </form>
                </div>
                <table>
                    <td>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                    <form action="{% if typeSalle and  modifier == false %} {{ path_for('type-salle-enregistrer') }}
                                                    {% elseif typeSalle and modifier  %} {{ path_for('type-salle-modifier') }}
                                                    {% elseif modifier and typeSalle == false %} {{ path_for('type-fourniture-modifier') }}
                                                   {% else %} {{ path_for('type-fourniture-enregistrer') }}
                                                   {% endif %}" method="post">
                                        <tr>
                                            <input type="hidden" name="id" value="{{ id }}">
                                            <td><label for="nom">nom:</label></td>

                                            <td><input id="textBox" class="form-control" type="text" name="nom" value="{{ nom }}"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" type="submit" value="Enregistrer"></td>
                                        </tr>
                                    </form>
                                </table>
                            </div>

                        </div>
                    </td>
                    <td>
                       
                            <table>
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for type in typeList %}
                                    <tr>
                                        <td>
                                            {{ type.nom }}
                                        </td>
                                        <td>
                                            <form action="{% if typeSalle %} {{ path_for('type-salle-changeNom') }}
                                                   {% else %} {{ path_for('type-fourniture-changeNom') }}
                                                   {% endif %}" method="post">
                                                <input type="hidden" name="id" value="{{ type.id }}">
                                                <input type="hidden" name="nom" value="{{ type.nom }}">
                                                <input class="form-control" type="submit" name="submit" value="Modifier" style="border-color: red;">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </td>
                </table>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}