{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Détails</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('fourniture-head-buttons') }}" method="post">
                        <input type="hidden" name="id" value="{{ fourniture.id }}">
                        <input class="form-control" type="submit" name="submit" value="<< Retour">

                        {% if new == false %}<input class="form-control" type="submit" name="submit" value="Supprimer" style="border-color: red;"> {% endif %}
                        <!--<input type="submit" name="submit" value="Desactiver" style="border-color: red;">-->
                    </form>
                </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                    <form action="{% if new %} {{ path_for('fourniture-enregistrer') }}
                                                   {% else %} {{ path_for('fourniture-modifier') }}
                                                   {% endif %}" method="post" id="form">
                                        <div class="form-group">
                                        <input type="hidden" name="id" value="{{ fourniture.id }}">



                                        
                                            <label for=marque">marque</label>
                                            <input class="form-control" type="text" name="marque" value="{{ fourniture.marque }}">
                                        
                                        
                                            <label for="modele">modele</label>
                                            <input class="form-control" type="text" name="modele" value="{{ fourniture.modele }}">

                                            {% if new %}{% else %}
                                            <label for="code">code - {{ fourniture.code }}</label>
                                            <div id="barcode">{{ fourniture.code }}</div>

                                            {% endif %}
                                        

                                            <label>type</label>
                                            
                                                <select class="form-control" name="type">
                                                    {% for tf in typeFourniture %}
                                                        <option value="{{ tf.id }}" {% if tf.id == fourniture.Description.type_id %} selected="selected" {% endif %}>{{ tf.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                        
                                        

                                            <label>salle</label>
                                            
                                                <select class="form-control" name="salle.id">
                                                    {% for s in salleList %}
                                                        <option value="{{ s.id }}" {% if s.id == fourniture.salle_id %} selected="selected" {% endif %}>{{ s.numero ~ " " ~ s.nom}}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                        
                                        

                                            <label>Responsable</label>
                                            
                                                <select class="form-control" name="utilisateur.id">
                                                    {% for u in utilisateurList %}
                                                        <option value="{{ u.id }}" {% if u.id == fourniture.utilisateur_id %} selected="selected" {% endif %}>{{ u.nom ~ " " ~ u.prenom}}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                        
                                        
                                            <input type="hidden" name="description.id" value="{{ fourniture.Description.id }}">
                                            <label for="description.nom">nom de description:</label>
                                            <input class="form-control" type="text" name="description.nom" value="{{ fourniture.Description.nom }}">
                                        
                                        
                                        <label for="description">description:</label>

                                        <textarea class="form-control" style="margin: 0px; width: 100%; height: 99px;" name="description" form="form">{{ fourniture.Description.description }}</textarea>

                                            <input class="form-control" type="submit" value="Enregistrer">
                                        
                                        </div>
                                    </form>
                               
                            </div>

                        </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}