{%  extends "layout.twig" %}
{%  block content %}
    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Détails</h1>
        </div>
        <!-- end  page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{{ path_for('salle-head-buttons') }}" method="post">
                        <input type="hidden" name="id" value="{{ salle.id }}">

                        <input type="submit" class="form-control" name="submit" value="<< Retour">
                        {% if new == false %}<input class="form-control" type="submit" name="submit" value="Supprimer" style="border-color: red;"> {% endif %}
                        <!--<input type="submit" name="submit" value="Desactiver" style="border-color: red;">-->
                    </form>
                </div>
                <table>
                    <td>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table>
                                        <form action="{% if new %} {{ path_for('salle-enregistrer') }}
                                                   {% else %} {{ path_for('salle-modifier') }}
                                                   {% endif %}" method="post">
                                        <input type="hidden" name="id" value="{{ salle.id }}">
                                        <tr>
                                            <td><label for="nom">nom:</label></td>

                                            <td><input class="form-control" type="text" name="nom" value="{{ salle.nom }}"></td>
                                        </tr>


                                        <tr>
                                            <td><label for="numero">numero de salle:</label></td>
                                            <td><input class="form-control" type="text" name="numero" value="{{ salle.numero }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="etage">etage:</label></td>
                                            <td><input class="form-control" type="text" name="etage" value="{{ salle.etage }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="aile">Aile:</label></td>
                                            <td><input class="form-control" type="text" name="aile" value="{{ salle.aile }}"></td>
                                        </tr>
                                        <tr>

                                            <td><label>type de salle</label></td>
                                            <td>
                                                <select class="form-control" name="typeSalle">
                                                    {% for ts in typeSalle %}
                                                        <option value="{{ ts.id }}" {% if ts.id == salle.type_salle_id %} selected="selected" {% endif %}>{{ ts.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <input type="hidden" name="Adresse.id" value="{{ salle.Adresse.id }}">
                                        <tr>
                                            <td><label for="nom">rue:</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.rue" value="{{ salle.Adresse.rue }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">numero:</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.numero" value="{{ salle.Adresse.numero }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">ville:</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.ville" value="{{ salle.Adresse.ville }}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="nom">code postal:</label></td>
                                            <td><input class="form-control" type="text" name="Adresse.code" value="{{ salle.Adresse.code }}"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input class="form-control" type="submit" value="Enregistrer"></td>
                                        </tr>
                                    </form>
                                </table>
                            </div>

                        </div>
                    </td>
                    <td>
                        {% if new == false %}
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Marque</th>
                                <th>Modele</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Responsable</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fourniture in salle.Fourniture %}
                                <tr>
                                    <td>
                                        {{ fourniture.marque }}
                                    </td>
                                    <td>
                                        {{ fourniture.modele }}
                                    </td>
                                    <td>
                                        <div id="barcode">
                                            {{ fourniture.code }}
                                        </div>
                                        {{ fourniture.code }}
                                    </td>
                                    <td>
                                        <strong>{{ fourniture.Description.type }}</strong><br>{{ fourniture.Description.nom }}
                                    </td>
                                    <td>
                                        {{ fourniture.Utilisateur.nom ~ " " ~ fourniture.Utilisateur.prenom }}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </table>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{%  endblock %}