<?php
/**
 * Created by PhpStorm.
 * User: drznathou
 * Date: 07/03/2017
 * Time: 13:10
 */ ?>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../style/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../style/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../style/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../style/css/style.css" rel="stylesheet" />
    <link href="../style/css/main-style.css" rel="stylesheet" />

    <!-- Page-Level CSS -->
    <link href="../style/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <script type="text/javascript" src="../style/plugins/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../style/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../style/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script type="text/javascript" src="../style/plugins/pace/pace.js"></script>
    <script type="text/javascript" src="../style/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script type="text/javascript" src="../style/plugins/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../style/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <title>Matériel Parc Manager</title>
</head>
<body>

    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ path_for('home') }}">
                    <img src="../style/img/logo.png" alt="" />
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="fa fa-home fa-3x" href="{{ path_for('home') }}">
                    </a>


                </li>
                {% block menu %}
                {% endblock %}
        </ul>
        </nav>
    </div>


<!-- end navbar-header -->
<!-- navbar-top-links -->

{% block content %}
{% endblock %}

</body>
</html>
