{% extends "base_layout.twig" %}
{% block menu %}

            <!-- dropdown-HOME -->

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-users fa-3x"></i>
                </a>
                <!-- dropdown users-->

                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path_for('utilisateur') }}"><i class="fa fa-list"></i> - Tout les employés</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-plus-circle"></i> - Ajouter un employé</a>
                    {#</li>
                    <li><a href="#"><i class="fa fa-compress"></i> - Assigner du matériel</a>
                    </li>#}


                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-desktop fa-3x"></i>
                </a>
                <!-- dropdown user-->

                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path_for('fourniture') }}"><i class="fa fa-list"></i> - Tout le matériel</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path_for('fourniture-nouveau') }}"><i class="fa fa-plus-circle"></i> - Enregistrer du matériel</a>
                    <li><a href="{{ path_for('type-fourniture-nouveau') }}"><i class="fa fa-plus-circle"></i> - Ajouter un type de matériel</a>
                    {#</li>
                    <li><a href="#"><i class="fa fa-compress"></i> - Assigner du matériel</a>
                    </li>#}

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-map-marker fa-3x"></i>
                </a>
                <!-- dropdown user-->

                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path_for('salle') }}"><i class="fa fa-list"></i> - Tout les locaux</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path_for('salle-nouveau') }}"><i class="fa fa-plus-circle"></i> - Ajouter un local</a>
                    <li><a href="{{ path_for('type-salle-nouveau') }}"><i class="fa fa-plus-circle"></i> - Ajouter un type de local</a>
                    </li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-3x"></i>
                </a>
                <!-- dropdown user-->

                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path_for('profile') }}"><i class="fa fa-user fa-fw"></i> - Administration</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> - Parametres</a>
                    </li>
                    <li class="divider"></li>
                    <a href="{{ path_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                </ul>
            </li>
            <li class="dropdown">
                <div class="user-info">

                    <div class="user-text-online">
                        <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                    </div>
                </div>
            </li>

            <!-- end dropdown-user -->



{% endblock %}

{% block content %}
{% endblock %}


